.footer {
    background-color: rgba(0,0,0,0.8);
    padding: 8px 0 20px 24px;
    margin: 30px;
    color:white;
}
.footerLogo {
    margin: 10px 0 0px 10px;
    width: 150px;
    height: 100px;
    background-image: url("../../assets/image/Forum_logo.png");
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
}
